@{
    ViewData["Title"] = "О приложении";
}
<h1>@ViewData["Title"]</h1>

<h1>Тема проекта: </h1>
<p>«Распределенная система для решения СЛАУ методом релаксации». </p>
<h1><b>Задание:</b></h1>
<p>Разработать распределенное приложение для решения СЛАУ методом релаксации. Предусмотреть возможность решения систем больших размерностей (максимальное количество неизвестных – 50000).</p>
<p>Сравнить найденное решение с нераспределенным решением по методу релаксации. Разработать модульные тесты и нагрузочные тесты. Имеются ограничения ресурсов, необходимые для работы распределенной системы, которые устанавливаются преподавателем дополнительно.</p>
<p>При работе над проектом в обязательном порядке создать приватный репозиторий Git и предоставить к нему доступ преподавателю не позднее 16.02.2026.</p>
<h4>Автор: Зеньков В. В. (ГГТУ им. П. О. Сухого)</h4>
